* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Estilos para o header*/
header {
    background-color: #35424a;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilos para a navegação*/
nav ul {
    list-style-type: none;
    background-color: #35424a;
}